h2{
    font-weight: lighter;
    color: #2B2A4C;
}
.eliminarBoton{
    margin-right: 5%;
    background-color: #EDC6B1;
    color: white;
}
.cancelarBoton{
    margin-right: 5%;
    color: #EDC6B1;
}