.margenes{
    margin: 0 auto;
    padding: 0 auto;
    border-radius: 0;
}
.barra{
    background-color: #7C96AB;
    color: white;
}
.bordeado {
    margin: 5% auto;
    padding: 0 auto;
    width: 25%;
  }
.separadorIcono{
    margin-left: 5%;
    clear: left;
    text-align: right;
    vertical-align: middle;
    font-weight: lighter;
}
.iconoProducto{
    display: inline-block;
    vertical-align:top;
    color:#BFCCB5;
    margin-left: 8%;
}
.datosTitulo{
    text-align: center;
    color: #7C96AB;
    font-weight: lighter;
    font-size: large;
    margin-bottom: 7%;
}
.separador{
    border: 1px solid #EDC6B1;
    margin-bottom: 5%;
}
.img{
    display:block;
    text-align: right;
}
.seguirBoton{
    margin-top: 10%;
    text-align: center;
}
.actualizar{
    color: #7C96AB;
}
.borrar{
    background-color: #7C96AB;
    color: white;
    margin-left: 2%;
}
div{
    margin-top: 3%;
    margin-bottom: 3%;
}
.spacer {
    flex: 1 1 auto;
}
.dark{
    margin: 0 auto;
    padding: 0 auto;
}