@import '~@angular/material/theming';
@include mat-core();

// Define las paletas de colores
$ProductBoard-primary: mat-palette($mat-indigo);
$ProductBoard-accent:  mat-palette($mat-pink);
$ProductBoard-warn:    mat-palette($mat-red);

// Define el tema utilizando las paletas de colores
$ProductBoard-theme: mat-light-theme(
  $ProductBoard-primary,
  $ProductBoard-accent,
  $ProductBoard-warn
);

$ProductBoard-dark-theme: mat-dark-theme(
  $ProductBoard-primary,
  $ProductBoard-accent,
  $ProductBoard-warn
);
.dark-theme{
    @include angular-material-theme($ProductBoard-dark-theme);
}

// Aplica el tema de Angular Material a la aplicación
@include angular-material-theme($ProductBoard-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
